default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  host: db

development:
  <<: *default
  database: trb_example_development

test:
  <<: *default
  database: trb_example_test

production:
  <<: *default
  database: trb_example
