!!!
%html
  %head
    %title Tomodachi
    = csrf_meta_tags

    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'

  %body
    #app
      :plain
        <!-- use router-link component for navigation. -->
        <!-- specify the link by passing the `to` prop. -->
        <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
        <p>
          <router-link to="/foo">Go to Foo</router-link>
          <router-link to="/bar">Go to Bar</router-link>
          <router-link to="/hello">Say hello</router-link>
          <router-link to="/people">People</router-link>
        </p>

        <!-- route outlet -->
        <!-- component matched by the route will render here -->
        <router-view></router-view>
